html {
    max-width: 100%
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

.logo-image {
    height: 55px;
}

.col-3,
.bg-light {
    border: 5px inset #d5b399;
}

.venue {
    height: 75px;
    text-align: center;
}

.row,
.main {
    margin-left: 10px;
    width: 1500px;
}