a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

.logo-image {
    height: 55px;
}

.month {
    text-align: center;
    background-color: #13ce04;
    font-size: 1.5em
}

.hidden {
    display: none;
}