html {
    background-color: #000000;
}

body {
    background-color: #000000;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

section {
    height: 100%;
}

.logo-image {
    height: 55px;
}

.navbar {
    background-color: rgba( 95, 95, 95, 0.3)
}