a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

#show-time {
    float: left;
    background-color: #db9f73;
}

#show-artist {
    float: left;
    background-color: #db9f73;
}

#show-city {
    float: left;
    background-color: #db9f73;
}

#show-place {
    float: right;
    background-color: #db9f73;
}

#show-cell {
    border: 1px solid black;
    background-color: #db9f73;
}

section {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

#shows,
#reports {
    height: 400px;
}

.logo-image {
    height: 55px;
}

.btn-danger {
    background-color: green;
    height: 50px;
    margin-left: 90px;
    margin-bottom: auto;
    margin-top: auto;
}